<%= content_tag("h1", "Rename " + @story.name)%>

<%= @story.errors.full_messages %>

<%= form_for @story, :method => :put do |f| %>

	<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</p>
	
	<%= f.submit :rename %>

<% end %>
